

.icone-foto{
    display: flex;
    width: 150px;
    background-color: #3b4f66;
    
}
.icone-texto{
    color: whitesmoke;
    background-color: #3b4f66;
    display: flex;
    font-size: 16px;
    font-family: Arial, Helvetica, 'Segoe UI', Tahoma, Geneva, Verdana, 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    align-items: center;
    justify-content: space-evenly;
}

img{
    width: 30px;
}

footer{
    background-color:  #3b4f66;
    height: 90px;
    position: absolute;
    font-family: Arial, Helvetica, 'Segoe UI', Tahoma, Geneva, Verdana, 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
    bottom: 0;
    width: 100%;
}
 
   